.cardspecs {
    border: 2px solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text-adjust {
    text-align: center;
}

.linktest {
    opacity:0.5;
    text-decoration: none;
}

.transformlower {
    text-transform: lowercase;
}

.transformupper {
    text-transform: uppercase;
}

.transformcapitalize {
    text-transform: capitalize;
}

.lineheightforp {
    line-height:25px;
}


a:hover {
        color:red;
    }
